* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
  }
  
  body, html {
    height: 100%;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    flex: 1.7; /* Mais espaço para imagem */
    background: url("../img/image.png") no-repeat center center;
    background-size: cover;
    border-top-right-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
  }
  
  .right-side {
    flex: 1; /* Menos espaço para o formulário */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  
  
  
  form {
    width: 100%;
    max-width: 320px;
  }
  
  input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .link {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .link a {
    font-size: 0.9em;
    text-decoration: none;
    color: #0056b3;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #003d80;
  }
  
  
  .titulo-cic {
    font-family: 'MV Boli', cursive;
    color: #09038B;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.4;
  }
  
  .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
  }
  
  .logo {
    max-width: 160px;
    margin-bottom: 25px;
  }
  
  .password-wrapper {
    position: relative;
    width: 100%;
  }
  
  .password-wrapper input {
    width: 100%;
    padding-right: 40px;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
  }
  